<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidWithKotlin">
        <activity
            android:name=".database_signup.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".database_signup.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".database_signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".uiux.HomeUiUx"
            android:exported="false" />
        <activity
            android:name=".uiux.ShowLogoActivity"
            android:exported="false" />
        <activity
            android:name=".uiux.UiUxMainActivity"
            android:exported="false" />
        <activity
            android:name=".uiux.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".multiple_intents_class.Orders"
            android:exported="false" />
        <activity
            android:name=".multiple_intents_class.CafeMainActivity"
            android:exported="false" />
        <activity
            android:name=".views.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".intents.ImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".second_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>