<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidWithKotlin">
        <activity
            android:name=".bottom_navigationview.NavigationMainActivity"
            android:exported="false" />
        <activity
            android:name=".notifications.DefaultNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".carts.CartMainActivity"
            android:exported="false" />
        <activity
            android:name=".carts.CartIntroActivity"
            android:exported="false" />
        <activity
            android:name=".recipes.RecipesHomeActivity"
            android:exported="false" />
        <activity
            android:name=".recipes.RecipesMainActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerView.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".apis.MainApiActivity"
            android:exported="false" />
        <activity
            android:name=".practice.ListViewPractice"
            android:exported="false" />
        <activity
            android:name=".recyclerView.MainReViewActivity"
            android:exported="false" />
        <activity
            android:name=".list_views.UserActivity"
            android:exported="false" />
        <activity
            android:name=".list_views.CustomListViewActivity"
            android:exported="false" />
        <activity
            android:name=".list_views.ListView1Activity"
            android:exported="false" />
        <activity
            android:name=".Dyanamic_Photo_Frame.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".customize_dialogbox.CDMainActivity"
            android:exported="false" />
        <activity
            android:name=".dialogboxes.AlertDialogBoxActivity"
            android:exported="false" />
        <activity
            android:name=".viewbinding.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name=".database_signup.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".database_signup.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".database_signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".uiux.HomeUiUx"
            android:exported="false" />
        <activity
            android:name=".uiux.ShowLogoActivity"
            android:exported="false" />
        <activity
            android:name=".uiux.UiUxMainActivity"
            android:exported="false" />
        <activity
            android:name=".uiux.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".multiple_intents_class.Orders"
            android:exported="false" />
        <activity
            android:name=".multiple_intents_class.CafeMainActivity"
            android:exported="false" />
        <activity
            android:name=".views.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".intents.ImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".second_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>